@typeparam T

<button @onclick="FireOnCreateNewEventCallback">Create new person with an EventCallback</button>
<table>
    <thead>
        @HeadTemplate
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            @BodyRowTemplate(item)
        }
    </tbody>
</table>